:root{
    --color-primario: #F8F5F1;
    --color-secundario: #5AA897;
    --azul: #45526C;
    --rosa: #F8A488;
    --separación-defecto: 8px;
}

* {
    background-color: var(--color-primario);
    color: var(--azul);
    margin: 0;
    padding: 0;
}

footer{
    margin-top: var(--separación-defecto);
}

header *, footer *{
    text-align: center;
    font-family: "Raleway", sans-serif;
    background-color: var(--color-secundario);
    color: var(--azul);
    font-size: 1.1rem;
    padding: 2rem;
}

.contenedor{
    max-width: 900px;
    margin: 0 auto;
}

table.paper {
    width: 100%;
    padding: 5%;
}

.campo-formulario label{
    display: block;
    font-weight: bold;
    padding: 0;
    margin-top: var(--separación-defecto);
}

.campo-formulario input:not([type="radio"]) {
    width: 100%;
}